.product_info {
  margin: var(--spacing-ultralarge) var(--spacing-large);
}

.product_title {
  color: var(--dark-grey);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: var(--spacing-large);
}

.product_details {
  display: flex;
  gap: 120px;
  align-items: center;
}

.product_img {
  max-width: 710px;
}

.price_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product_description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-ultralarge);
  max-width: 412px;
}

.discount_price {
  font-size: var(--grand-text);
  font-weight: 600;
}

.discount_price span {
  font-weight: 600;
}

.price {
  color: #8b8b8b;
  text-decoration: line-through;
  font-size: var(--info-text);
  font-weight: var(--normal-text);
}

.discount_value {
  font-size: 28px;
  color: var(--pink-color);
  font-weight: 600;
}

.add_btn {
  width: 340px;
  height: 86px;
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  font-weight: var(--bold-text);
  font-size: 28px;
  transition: var(--transition);
  cursor: pointer;
}

.add_btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.product_subtitle {
  padding-top: 40px;
  border-top: 1px dashed #8b8b8b;
  font-weight: 600;
  font-size: var(--info-text);
}

.product_text {
  font-weight: var(--normal-text);
  font-size: var(--info-text);
}