.product_info {
  margin: var(--spacing-ultralarge) var(--spacing-large);
}

.product_title {
  color: var(--dark-grey);
  font-size: 36px;
  font-weight: var(--medium-text);
  margin-bottom: var(--spacing-large);
}

.product_details {
  display: flex;
  gap: 120px;
  align-items: center;
}

.product_img {
  width: 100%;
  object-fit: contain;

}

.price_container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product_description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-ultralarge);
  max-width: 412px;
}

.discount_price {
  font-size: var(--grand-text);
  font-weight: var(--medium-text);
}

.discount_price span {
  font-weight: var(--medium-text);
}

.price {
  color: var(--gray-color);
  text-decoration: line-through;
  font-size: var(--info-text);
  font-weight: var(--normal-text);
}

.discount_value {
  font-size: 28px;
  color: var(--pink-color);
  font-weight: var(--medium-text);
}

.product_subtitle {
  padding-top: var(--spacing-ultralarge);
  border-top: 1px dashed var(--gray-color);
  font-weight: var(--medium-text);
  font-size: var(--info-text);
}

.product_text {
  font-weight: var(--normal-text);
  font-size: var(--info-text);
}

@media (max-width:1280px) {
  .product_details {
    gap: var(--spacing-medium);
  }
}

@media (max-width: 1180px) {
  .discount_price {
    font-size: var(--header-text);
  }

  .add_btn {
    width: 200px;
    height: 50px;
  }

  .product_text {
    font-size: var(--normal-text);
  }

  .product_description {
    max-width: 300px;
  }
}

@media (max-width:780px) {
  .product_details {
    flex-direction: column;
  }

  .product_description {
    max-width: 100%;
  }
}

@media (max-width:500px) {
  .product_title {
    font-size: var(--header-text-small);
  }
}

@media (max-width: 360px) {
  .product_title {
    font-size: var(--info-text);
  }
}