.order {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 25px;
  max-width: 500px;
  border: 2px solid var(--black-color);
  border-radius: 21px;
}

.order_title {
  font-size: 28px;
  font-weight: var(--medium-text);
}

.order_sum {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.order_text {
  font-weight: var(--normal-text);
  font-size: var(--header-text-small);
}

.order_amount {
  font-weight: var(--medium-text);
  font-size: 32px;
}

form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

@media (max-width: 562px) {

  .order,
  .order form {
    width: 100%;
  }
}