.burger {
  width: 30px;
  height: 24px;
  display: none;
  cursor: pointer;
  position: relative;
  border-top: 4px solid #21243D;
  border-bottom: 4px solid #21243D;
}

.burger_active {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 24px;
}

.burger_line {
  display: block;
  position: absolute;
  top: 6px;
  height: 4px;
  width: 30px;
  background-color: #21243D;
  border-radius: 2px;
}

.burger_active .burger_line:first-child {
  transform: rotate(45deg);
  background-color: #fff;
  top: var(--spacing-small);
  transition: var(--transition);
}

.burger_active .burger_line:nth-child(2) {
  background-color: transparent;
}

.burger_active .burger_line:last-child {
  transform: rotate(-45deg);
  background-color: #fff;
  top: var(--spacing-small);
  transition: var(--transition);
}


@media (max-width: 780px) {
  .burger {
    display: flex;
  }
}