.discount_wrapper {
  display: flex;
  margin: auto;
  background: linear-gradient(240deg, #339933, #006300);
  padding: 45px 0;
}

.discount_left,
.discount_right {
  flex: 1;
}

.discount_img {
  margin-left: 90px;
}

.discount_right {
  color: var(--white-color);
}

.discount_title {
  font-size: 90px;
  font-weight: 900;
}

.discount_subtitle {
  font-size: 50px;
  font-weight: var(--bold-text);
  margin-bottom: 46px;
}

.discount_right form {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  gap: 30px;
}

@media (max-width: 990px) {
  .discount_title {
    font-size: var(--grand-text);
  }

  .discount_subtitle {
    font-size: var(--header-text);
  }

  .discount_img {
    margin-left: 0;
  }

  .discount_right form {
    width: 90%;
  }

  .discount_input {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .discount_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discount_right form {
    width: 100%;
  }
}

@media (max-width:500px) {
  .discount_img {
    width: 100%;
  }
}