.cart_list_wrapper {
  margin: 50px 30px;
}

.back_link_wrapper {
  margin-right: 560px;
  margin-bottom: var(--spacing-large);
  display: flex;
  gap: var(--spacing-medium);
  justify-content: flex-end;
}

.back_link {
  font-size: var(--info-text);
}

.arrow {
  margin-top: 5px;
}

.cart_list_container {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-weight: var(--bold-text);
  font-size: var(--header-text);
  margin-bottom: var(--margin-main);
}

.warning {
  font-size: var(--header-text-small);
  color: var(--brown-color);
  font-weight: var(--bold-text);
}

@media (max-width: 1282px) {
  .cart_list_container {
    flex-direction: column;
  }

  .back_link_wrapper {
    margin-right: 0;
  }
}