.products_list_wrapper {
  margin-top: 50px;
}

.products_list_title {
  font-weight: var(--bold-text);
  font-size: var(--header-text);
  margin-bottom: 80px;
}

.products_list {
  margin: var(--spacing-ultralarge) 0 80px;
  display: flex;
  gap: var(--spacing-large);
  flex-wrap: wrap;
}