.cart_item {
  display: flex;
  gap: var(--spacing-large);
  padding: var(--spacing-ultralarge) 0;
  border-bottom: 1px solid #a7a7a7;
  position: relative;
}

.cart_img {
  width: 192px;
  border-radius: 10px;
  height: 166px;
  object-fit: cover;
}

.counter_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cart_item_title {
  font-weight: var(--medium-text);
  font-size: var(--sub-header-text);
  color: var(--dark-gray);
  max-width: 320px;
}

.counter_box {
  display: flex;
  gap: var(--spacing-large);
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  padding: 5px 15px;
  align-items: center;
}

.counter_box button {
  background-color: transparent;
  border: none;
  font-size: 36px;
  line-height: 20px;
  transition: var(--transition);
  cursor: pointer;
}

.counter_box button:hover {
  color: var(--primary-color);
}

.cart_item_counter {
  font-size: var(--sub-header-text);
  font-weight: var(--medium-text);
  width: 30px;
  text-align: center;
}

.price_box {
  display: flex;
  gap: 70px;
}

.discount_price {
  font-size: var(--header-text);
  align-self: center;
}

.price {
  align-self: center;
  font-size: var(--info-text);
}

.discount_price {
  font-weight: var(--medium-text);
  width: 90px;
}

.price {
  font-weight: var(--normal-text);
  color: var(--gray-color);
  text-decoration: line-through;
  padding-right: 70px;
}

.close_btn {
  font-size: var(--info-text);
  cursor: pointer;
  position: absolute;
  top: var(--spacing-medium);
  right: 0;
}

@media (max-width: 734px) {
  .price {
    padding-right: 0;
  }

  .price_box {
    gap: 10px;
  }
}

@media (max-width: 612px) {
  .cart_item {
    flex-direction: column;
    align-items: center;
  }

  .counter_wrapper {
    align-items: center;
    text-align: center;
  }

  .counter_box {
    margin-top: 20px;
  }
}