/* .phone_input {
  height: 70px;
  border: 1px solid var(--black-color);
  padding-left: 25px;
  border-radius: 20px;
  outline: none;
  font-size: var(--sub-header-text);
  width: 100%;
  background-color: var(--white-color);
} */

.form_control {
  position: relative;
}

.form_control.error input,
.form_control.error textarea {
  border: 2px solid red;
}

.form_control.error span {
  position: absolute;
  top: 75px;
  left: 0;
  color: brown;
  font-size: 15px;
  margin: 0 5px;
}

@media (max-width: 990px) {
  .discount_input {
    width: 100%;
  }
}

@media (max-width: 562px) {
  .phone_input {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .form_control.error span {
    top: 50px;
  }

  .phone_input {
    height: 50px;
  }
}