.wrapper {
  margin: var(--margin-main) var(--spacing-large);
  display: flex;
  gap: 160px;
}

.title {
  font-size: var(--header-text);
  margin-bottom: 25px;
  font-weight: var(--bold-text);
}

.phone_number {
  font-size: var(--grand-text);
  font-weight: var(--bold-text);
  margin-bottom: 32px;
  white-space: nowrap;
}

.map_link {
  font-size: var(--header-text);
  font-weight: var(--bold-text);
  margin-bottom: var(--spacing-medium);
}

.social {
  display: flex;
  gap: 70px;
  text-align: center;
  font-size: 15px;
  font-weight: var(--bold-text);
}

.social_img {
  font-size: var(--header-text);
  cursor: pointer;
  transition: var(--transition);
}

.social_img:hover {
  color: var(--primary-color);
}

.address p {
  font-size: var(--sub-header-text);
  font-weight: var(--normal-text);
  margin-bottom: 2px;
}

.address b {
  font-size: var(--header-text-small);
  font-weight: var(--bold-text);
}

@media (max-width:1150px) {
  .phone_number {
    font-size: var(--header-text);
  }

  .map_link {
    font-size: var(--header-text-small);
  }
}

@media (max-width: 990px) {
  .wrapper {
    gap: var(--spacing-large);
  }
}

@media (max-width: 780px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 500px) {

  .title,
  .phone_number {
    font-size: var(--header-text-small);
  }

  .map_link,
  .address b {
    font-size: var(--sub-header-text);
  }
}