.banner_wrapper {
  margin-top: 70px;
  position: relative;
  z-index: 1;
}

.banner_sale {
  display: flex;
  gap: 100px;
  height: 600px;
}

.slide1 {
  background-color: #A1E2EB;
}

.slide2 {
  background-color: #ebe5a1;
}

.slide3 {
  background-color: #e4a1eb;
}

.content,
.image_box {
  flex: 1;
}

.content {
  padding: 130px 50px 140px;
  color: var(--white-color);
}

.title {
  font-size: 80px;
  font-weight: 700;
}

.sub_title {
  margin-top: var(--spacing-ultrasmall);
  font-size: 65px;
  font-weight: 700;
}

.image_box {
  width: 100%;
}

.image {
  height: 100%;
  float: right;
}

@media (max-width:1080px) {
  .banner_sale {
    gap: var(--spacing-medium);
  }

  .title {
    font-size: var(--grand-text);
  }

  .sub_title {
    font-size: var(--header-text);
  }

  .content {
    margin: auto 50px;
  }
}

@media (max-width:990px) {
  .banner_sale {
    justify-content: center;
    position: relative;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px;
    text-shadow: 2px 2px 15px black;
  }

  .image {
    margin: 0;
    width: 100%;
    object-fit: cover;
    object-position: center 75%;
  }
}